body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  overflow-y: scroll !important;
}
.create-btn {
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(0, 0, 0, 0.87);
  padding: 9px 16px;
  cursor: pointer;
  float: right;
  background-color: rgb(144, 202, 249);
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 0;
}
.create-btn:hover {
  background-color: rgb(66, 165, 245);
}
.scrollable-slide {
  height: 700px;
  overflow-y: auto !important;
}
.slides::-webkit-scrollbar {
  width: 6px;
}
.slides::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.slides::-webkit-scrollbar-thumb {
  background-color: #333;
}
.slides::-webkit-scrollbar-corner {
  background-color: #333;
}
